pre code {
	font-size: 20px;
}

.slide {
    padding: 80px 100px 0;
    /* background: #fff; */
    /* font-size: 25px; */
}

#cover {
	text-align: center;
}

#cover h2 {
	margin: 0;
	text-align: center;
	font-size: 96px;
}

#cover p {
	margin: 10px 0 0;
}
